{% extends 'manager/base.html' %}
{% load static %}
{% block title %}Manager{% endblock title %}


{% block body %}


   <!-- Content -->
   <div class="container mt-3">
        <!-- Set Weekly Limits -->
        <div class="card mt-3">
          <div class="card-header">
              Set Weekly Limits
          </div>
          <div class="card-body">
              <form action="{% url 'limits' %}" method="post">
                {% csrf_token %}
                  <div class="form-group">
                      <label for="weeklyLimit">Weekly Limit:</label>
                      <input type="number" class="form-control" name="weeklyLimit" value="{{myconstants.weeklyLimit}}" id="weeklyLimit">
                  </div>
                  
                  <div class="form-group">
                      <label for="MonthlyLimit">Monthly Limit:</label>
                      <input type="number" class="form-control" name="MonthlyLimit" value="{{myconstants.monthlyLimit}}" id="MonthlyLimit">
                  </div>
                  <button type="submit" class="btn btn-primary">Set Limit</button>
              </form>
          </div>
      </div>


</div>
    {% endblock body %}
